@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --animate-delay: 0.5s;
}

body {
  color: white;
  font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: rgb(255 255 255 / 45%);
}

.wave {
  animation: wave-animation 2.3s infinite;
  transform-origin: 70% 70%;       /* Pivot anchor */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
