@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
  color: white;
  font-family: 'Poppins', sans-serif;
  background: #101010;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: rgb(255 255 255 / 45%);
}