@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background: repeating-linear-gradient( -10deg, #101010, #101010 11.5px, #131316 11.5px, #131316 57.5px );
}

::-webkit-scrollbar {
    display: none;
}